@import 'colors';

.login-form {
  width: 450px;
  padding: 25px;
  position: relative;

  background-color: #f0f0f0;
  border: 1px solid $light-border;
  border-radius: 6px;

  .input-wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 15px;

    component-input {
      width: 100%;
    }
  }

  .button-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    margin: 30px 0px 50px;

    component-button {
      flex-grow: 0.48;
    }
  }

  .error {
    background-color: rgb(151, 6, 6);
    color: #FFF;
    text-align: center;
    padding: 10px 0px;
    border-radius: 4px;
    margin: 20px 0px;
  }

  .forgot-password {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: $primary-color;
    font-weight: 300;
    cursor: pointer;
  }

  .loader {
    text-align: center;
    margin: 30px 0px;
  }
}
