.drawer {
  height: 100vh;
  width: 100vw;
  background-color: #00000083;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  z-index: 100;
  overflow-y: scroll;
  min-height: 100vh;
  max-height: 100vh;

  &__wrapper {
    &__close-button {
      background-color: #1b1a1ac0;
      color: #FFF;
      border-radius: 50px;
      padding: 5px 15px;
      cursor: pointer;
      position: absolute;
      right: 46vw;
      top: 1vw;
      outline: none;
      box-shadow: none;
      border: none;
    }

    &__content {
      background-color: #FFF;
      max-width: 45vw;
      height: 100vh;
      margin-left: auto;
      display: block;
      max-height: 100vh;
      overflow-y: scroll;
    }

    .padding {
      padding: 40px;
    }

    &__content > .drawer__wrapper {
      pointer-events: none;
    }
  }

  &--collapsed {
    display: none;
  }
}