<view-default>
  <ng-template *ngIf="startANewProject; then newProject; else projectList"></ng-template>
</view-default>

<ng-template #projectList>
  <div class="section-header">
    <h1>Projetos</h1>
    <component-input
      [type]="'text'"
      [label]="'Pesquisar'"
      [icon]="'assets/icons/search.svg'"
    ></component-input>
    <component-button [label]="'Criar projeto +'" (onClickEvent)="toggleProjectScreen()"></component-button>
  </div>
  <widget-project-list [loading]="loading" [projects]="currentProjects"></widget-project-list>
</ng-template>

<ng-template #newProject>
  <div class="section-header">
    <h1>Criar Projeto</h1>
    <component-button [label]="'Fechar'" (onClickEvent)="toggleProjectScreen()"></component-button>
  </div>
  <widget-new-project></widget-new-project>
</ng-template>