<view-default>
  <h1>Chamados</h1>
  <div class="support">
    <div class="support__content">
      <widget-support-overview></widget-support-overview>
      <div class="support__tickets">
        <div class="tickets-header">
          <p class="tickets-header__origin">Origem</p>
          <p class="tickets-header__subject">Assunto</p>
          <p class="tickets-header__status">Status</p>
          <p class="tickets-header__priority">Prioridade</p>
          <p class="tickets-header__open"></p>
        </div>
        <widget-support-ticket *ngFor="let ticket of tickets" [ticket]="ticket"></widget-support-ticket>
      </div>
    </div>
    <div class="support__sidebar">
      <widget-ticket-tools></widget-ticket-tools>
    </div>
  </div>
</view-default>