.support {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  &__content {
    flex: 0 0 70%;
  }

  &__sidebar {
    flex: 0 0 30%;
    padding-left: 50px;
  }
}

.tickets-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 10px;
  background-color: rgb(40, 82, 43);
  border-radius: 5px;
  margin-bottom: 20px;

  p {
    text-align: center;
    color: #FFF;
    font-size: 18px;
  }

  &__origin {
    flex: 0 0 20%;
  }

  &__status, &__priority {
    flex: 0 0 10%;
  }

  &__subject {
    flex: 0 0 40%;
  }

  &__open {
    flex: 0 0 5%;
  }
}

