<view-default>
  <h2>Chamados</h2>
  <div class="support">
    <div class="support__content">
      <div class="support__overview">
        <div class="support__overview__card" [ngClass]="selected === 'open' ? 'support__overview__card--selected' : ''" (click)="selectCard('open')">
          <label>465</label>
          <p>abertos</p>
        </div>
        <div class="support__overview__card" [ngClass]="selected === 'done' ? 'support__overview__card--selected' : ''" (click)="selectCard('done')">
          <label>145</label>
          <p>atendidos</p>
        </div>
        <div class="support__overview__card" [ngClass]="selected === 'closed' ? 'support__overview__card--selected' : ''" (click)="selectCard('closed')">
          <label>34</label>
          <p>encerrados</p>
        </div>
        <div class="support__overview__card" [ngClass]="selected === 'inProgress' ? 'support__overview__card--selected' : ''" (click)="selectCard('inProgress')">
          <label>34</label>
          <p>pendentes</p>
        </div>
      </div>
    </div>
    <div class="support__tickets">
      <div class="ticket"></div>
    </div>
    <div class="support__sidebar"></div>
  </div>
</view-default>