.section-header {
  display: flex;
  justify-content: space-between;

  component-input {
    width: 550px;
  }
}

.loader-wrapper {
  margin-top: 80px;

  ngx-skeleton-loader:nth-child(2),
  ngx-skeleton-loader:nth-child(5),
  ngx-skeleton-loader:nth-child(8),
  ngx-skeleton-loader:nth-child(11) {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.producers-list {
  margin-top: 40px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  widget-producer-card {
    flex: 0 0 32%;
    margin-bottom: 20px !important;
  }
}