.project-stages {
  h2 {
    margin: 25px 0px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    widget-stage-card {
      flex: 0 0 100%;
      margin-bottom: 35px;
    }
  }
}