/* You can add global styles to this file, and also import other style files */
@import 'colors';
@import 'typography';

*, html, body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html, body {
  background-color: #f4f4f4;;
  overflow-x: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
